body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size:15px;line-height:1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:fixed;
  top : 0;
  bottom:0;
  left:0;
  right:0;
}

#root{
  height : 100%;
}

html{
  position :fixed;
  top : 0;
  bottom :0;
  left :0;
  right :0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bottom{
  position:absolute;
  bottom:0;
  height:60px;
  background:#ccc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.open_button{
  border-radius:"4px";
  color : "#fff";
  position: "absolute";
  bottom:"30%";
  background-color: "#000000";
}

.cam_style{
  position: "absolute";
  margin-left: "auto";
  margin-right: "auto";
  width: 320;
  height: 240;
}

@font-face {
  font-family: 'Black Han Sans';
  src: local('Black Han Sans'), url(./fonts/BlackHanSans-Regular.ttf) format('truetype');
  font-display: swap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 48%;
  position : absolute;
}

.centered {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  margin-left: -100px;
}